.tnc-wrapper{
  max-width: 800px;
  margin: auto;
  padding: 10em 15px;
}

.tnc-wrapper h2{
    margin-bottom: 2em;
}

.tnc-wrapper ol{
    margin-top: 2em;
}

.tnc-wrapper p{
  padding-left: 40px;
  text-align: justify;
}
